#--- Uncomment this line for production or testing server
#SetEnv CI_ENV production

#--- Allow remote API access; change "*" to "your-domain.com" for better security
#--- Note: require Headers mod enabled (sudo a2enmod headers)
#Header add Access-Control-Allow-Origin "*"

#--- URL rewrite
#--- Note: require Headers mod enabled (sudo a2enmod rewrite)
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.efadcar\.com$ [NC]
RewriteRule ^(.*)$ https://www.efadcar.com/$1 [L,R=301]